[submodule "ap-chapterproblems"]
	path = ap-chapterproblems
	url = https://github.com/shroysha/ap-chapterproblems.git
	branch = master
[submodule "ap-pdfscrapper"]
	path = ap-pdfscrapper
	url = https://github.com/shroysha/ap-pdfscrapper.git
	branch = master
[submodule "ap-pendulum"]
	path = ap-pendulum
	url = https://github.com/shroysha/ap-pendulum.git
	branch = master
[submodule "ap-readability"]
	path = ap-readability
	url = https://github.com/shroysha/ap-readability.git
	branch = master
[submodule "ap-robocode"]
	path = ap-robocode
	url = https://github.com/shroysha/ap-robocode.git
	branch = master
[submodule "honors-firstquadrantgraph"]
	path = honors-firstquadrantgraph
	url = https://github.com/shroysha/honors-firstquadrantgraph.git
	branch = master
[submodule "honors-graphing"]
	path = honors-graphing
	url = https://github.com/shroysha/honors-graphing.git
	branch = master
[submodule "honors-jpaint"]
	path = honors-jpaint
	url = https://github.com/shroysha/honors-jpaint.git
	branch = master
[submodule "honors-loopexamples"]
	path = honors-loopexamples
	url = https://github.com/shroysha/honors-loopexamples.git
	branch = master
[submodule "psu-personal-site"]
	path = psu-personal-site
	url = https://github.com/shroysha/psu-personal-site.git
	branch = master
[submodule "psu-sociology-site"]
	path = psu-sociology-site
	url = https://github.com/shroysha/psu-sociology-site.git
	branch = master
