[submodule "ap-chapterproblems"]
	path = ap-chapterproblems
	url = ./ap-chapterproblems
	branch = shroysha/ap-chapterproblems
[submodule "ap-pdfscrapper"]
	path = ap-pdfscrapper
	url = ./ap-pdfscrapper
	branch = shroysha/ap-pdfscrapper
[submodule "ap-pendulum"]
	path = ap-pendulum
	url = ./ap-pendulum
	branch = shroysha/ap-pendulum
[submodule "ap-readability"]
	path = ap-readability
	url = ./ap-readability
	branch = shroysha/ap-readability
[submodule "ap-robocode"]
	path = ap-robocode
	url = ./ap-robocode
	branch = shroysha/ap-robocode
[submodule "honors-firstquadrantgraph"]
	path = honors-firstquadrantgraph
	url = ./honors-firstquadrantgraph
	branch = shroysha/honors-firstquadrantgraph
[submodule "honors-graphing"]
	path = honors-graphing
	url = ./honors-graphing
	branch = shroysha/honors-graphing
[submodule "honors-jpaint"]
	path = honors-jpaint
	url = ./honors-jpaint
	branch = shroysha/honors-jpaint
[submodule "honors-loopexamples"]
	path = honors-loopexamples
	url = ./honors-loopexamples
	branch = shroysha/honors-loopexamples
[submodule "psu-personal-site"]
	path = psu-personal-site
	url = ./psu-personal-site
	branch = shroysha/psu-personal-site
[submodule "psu-sociology-site"]
	path = psu-sociology-site
	url = ./psu-sociology-site
	branch = shroysha/psu-sociology-site
